@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100..800&family=Manrope:wght@200..800&family=Oxanium:wght@200..800&family=Rubik+Glitch&family=Space+Grotesk:wght@300..700&family=Syne:wght@400..800&display=swap');
@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* 2. Create standard CSS classes manually */
.font-glitch {
  font-family: "Rubik Glitch", system-ui;
}

/* 2. THE CYBER (For secondary headings) */
.font-cyber {
  font-family: "Oxanium", sans-serif;
}

/* 3. THE TECH HEADING (Modern, clean tech look) */
.font-space {
  font-family: "Space Grotesk", sans-serif;
}

/* 4. THE ARTISTIC (For "Jaw Dropping" big text) */
.font-art {
  font-family: "Syne", sans-serif;
}

/* 5. THE CODE (For scramble text & terminal effects) */
.font-code {
  font-family: "JetBrains Mono", monospace;
}

/* 6. THE BODY (Clean reading text) */
.font-body {
  font-family: "Manrope", sans-serif;
}